button {
	font-size: 20px;
}

input {
	font-size: "30px";
}

ul {
	list-style-type: none;
}

td {
	padding: 0 4rem;
}

.app {
}

.appSection {
	margin: 1rem;
	font-size: 20px;
}

.entityCreationContainers {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	background-color: tomato;
}

